<div class="container">
  <h2>🏠 Property Catalog</h2>

  @if (properties.length > 0) {
    <div class="loading">
        <p>Searching for the best options for you...</p>
    </div>
  }

  <div class="property-grid">
    @for (prop of properties;track prop.id) {
        <div class="property-card">
        <div class="image-container">
          <img [src]="prop.imageUrl" [alt]="prop.name">
          <span class="category-badge">{{ prop.category }}</span>
        </div>
        
        <div class="card-content">
          <h3>{{ prop.name }}</h3>
          <p class="address">📍 {{ prop.address }}</p>
          <p class="price">{{ prop.price | currency:'USD' }}</p>
          
          <div class="details">
            <span>🛏️ {{ prop.bedrooms }} rec.</span>
            <span>🚿 {{ prop.bathrooms }} baños</span>
          </div>
        </div>
      </div>
    } @empty {
        <p>There are no registered properties.</p>
    }
  </div>

</div>
